<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__CSS__/fund.css">
</head>
<body>
{include file="header/index"}
<!--主体内容-->
<div class="fund warp">
    <hr>
    <div class="gps">
        所在位置：<a href="#:;">首页 <i class="layui-icon layui-icon-right"></i></a>
        <span>私募基金</span>
    </div>

    <div class="margin_top layui-row fund_warp">
        <h2 class=""><span class="cf_color">热销</span>排行榜</h2>
        <ul class="layui-col-md8 ipo_all">
            <li class=" padding_bottom">
                <h2>
                    正金七号
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md6">
                        交易策略：
                        <b>最多多多</b>
                        <b>44个标签</b>
                        <b>限制字数</b>
                        <b>44个字制</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
            <li class="margin_top padding_bottom">
                <hr>
                <h2>
                    正金七号
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md5">
                        交易策略：
                        <b>最多</b>
                        <b>4个标签</b>
                        <b>限制字数</b>
                        <b>4个字</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
        </ul>
    </div>
</div>
{include file="footer/index"}
</body>
</html>