<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__CSS__/fund.css">
</head>
<body>
{include file="header/index"}

<!--主体内容-->
<div class="fund">
    <hr>
    <div class="gps  warp">
        所在位置：<a href="#:;">首页 <i class="layui-icon layui-icon-right"></i></a>
        <span>私募基金</span>
    </div>
    <div class="margin_top layui-row fund_warp  warp">
        <h2 class=""><span class="cf_color">热销</span>排行榜</h2>
        <ul class="layui-col-md8 ipo_all">
            <li class=" padding_bottom">
                <hr>
                <h2>
                    <a href="#:;">正金七号</a>
                    <small class="ipo_small">更新日期：<time>2018-11-02</time></small>
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md6">
                        交易策略：
                        <b>最多多多</b>
                        <b>44个标签</b>
                        <b>限制字数</b>
                        <b>44个字制</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
            <li class=" padding_bottom">
                <hr>
                <h2>
                    <a href="#:;">正金七号</a>
                    <small class="ipo_small">更新日期：<time>2018-11-02</time></small>
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md6">
                        交易策略：
                        <b>最多多多</b>
                        <b>44个标签</b>
                        <b>限制字数</b>
                        <b>44个字制</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
            <li class=" padding_bottom">
                <hr>
                <h2>
                    <a href="#:;">正金七号</a>
                    <small class="ipo_small">更新日期：<time>2018-11-02</time></small>
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md6">
                        交易策略：
                        <b>最多多多</b>
                        <b>44个标签</b>
                        <b>限制字数</b>
                        <b>44个字制</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
            <li class=" padding_bottom">
                <hr>
                <h2>
                    <a href="#:;">正金七号</a>
                    <small class="ipo_small">更新日期：<time>2018-11-02</time></small>
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md6">
                        交易策略：
                        <b>最多多多</b>
                        <b>44个标签</b>
                        <b>限制字数</b>
                        <b>44个字制</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
            <li class=" padding_bottom">
                <hr>
                <h2>
                    <a href="#:;">正金七号</a>
                    <small class="ipo_small">更新日期：<time>2018-11-02</time></small>
                </h2>
                <div class="title_right layui-row">
                    <p class="layui-col-md3">净值盈亏：<i>1.90</i></p>
                    <p class="layui-col-md3">累计收益：<i>200%</i></p>
                    <p class="layui-col-md6">
                        交易策略：
                        <b>最多多多</b>
                        <b>44个标签</b>
                        <b>限制字数</b>
                        <b>44个字制</b>
                    </p>
                </div>
                <div class="title_bottom layui-row">
                    <span>汇正点评：</span> <small>抄底首选，率先入手价值成长股</small>
                    <button class="layui-btn layui-btn-danger pull-right">点击咨询</button>
                </div>
            </li>
        </ul>
        <div class="layui-col-md3 layui-col-md-offset1 margin_top ipo_lore">
            <hr>
            <h2>趣味课堂</h2>
            <ul class="layui-card">
                <li>
                    <div class="layui-card-header">FOF？(随机产生两条列表，最多18字)</div>
                    <p class="layui-card-body">
                        <kbd>内容字数限制在300字左右 <br></kbd>
                        FOF: (Fund of Funds，基金中的基金）以基金为投资标的，投资过个基金 产品，通过对基金进行筛选，帮助投资者优化基金投资效果。 企业投资者、VC/PE投资机构、政府机构、银行信托和资产管理公司占 据股权投资市场的93%市场份额，机构是股权投资的主要参与者。 母基金相当于在众多个人投资者和顶级基金之间架起桥梁，使原先孤军奋战 的个人投资者也能间接参与到股权市场投资。 通过全市场私募产品数据库量化筛选，分策略跟踪数千私募产品，建立 业绩报酬跟踪数据库，通过书面材料及投顾尽调方式，采用历史业绩、投资 理念、投研团队、风险控制、规模容量等数核心数据筛选不同交易风格团队 中收益风险比最佳基金组合加入配置核心池，针对不同需求定点对接FOF母 基金。为其提供真正独立客观的FOF解决方案，协助基金管理人一站式参与。
                    </p>
                </li>
                <li>
                    <div class="layui-card-header">什么是发MOM？</div>
                    <p class="layui-card-body">
                        MOM:（Manager Of Managers，管理人的管理人基金）基
                        金经理不直接管理基金投资，将基金资产委托给其他的一些基
                        金经理进行管理，直接授予他们投资决策权限，基金经理负责
                        挑选和跟踪监督受委托基金经理的表现，并在需要的时候进行
                        更换。
                        汇总优秀投顾数据，结合各大资产配置水位情况、策略风
                        险收益归因情况、基金收益比综合情况，选取有事互补，多策
                        略投资 人进行科学资产配置，组成母基金账户投资依据。在
                        投资过程中结合宏观市场变化情况、政策变化，做出专项应对
                        方案，科学调整各大市场、策略、组合占比，不断根据实际情
                        况动态调整配置池，达到收益持续稳定增长。
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="fund_core padding_top">
        <div class="warp padding">
            <h2>
                <span class="cf_color">核心</span>优势
            </h2>
            <ul class="layui-card layui-row">
                <li class="layui-col-md4">

                    <div class="layui-card-header">
                        数据信息披露
                    </div>
                    <p class="layui-card-body">
                        软件平台覆盖各类公募基金、私募基金、PE基金、FOF基金、个人投顾等数据，为其提供全面数据的实时信息展示及咨询服务功能。基金排行、优选推荐、行业热点资讯以及独家投研报告等完善的信息披露体系，为市场投资者带来专业、及时、全面、便捷的一站式数据信息服务。
                    </p>
                </li>
                <li class="layui-col-md4">

                    <div class="layui-card-header">
                        资金数据对接
                    </div>
                    <p class="layui-card-body">
                        汇总广泛的市场资金数据，撮合双方意向，针对性对接资金及优质投顾。 <small class="cf_color">(简单介绍，尽量不要超过150个字，不然不内管，编写时尽量让这几个列表字数相当即可！)</small>
                    </p>
                </li>
                <li class="layui-col-md4">
                    <div class="layui-card-header">
                        投资者技术交流平台
                    </div>
                    <p class="layui-card-body">
                        交易数据分析为金融市场参与者提供最专业、全面的交易数据分析报告，通过收益比、波动率、交易行为分析等方面制作交易数据分析归因报告，为其提供交易建议及数据 分析，促进交易系统持续完善。

                    </p>
                </li>
                <li class="layui-col-md4">

                    <div class="layui-card-header">
                        投资者技术交流平台
                    </div>
                    <p class="layui-card-body">
                        私募交流平台、个人交易者交流平台、投资者交流平台：
                        集合国内优秀投顾、民间草根操盘手及行
                        业大佬，定期举办私募峰会，为私募提供交流场所、
                        技术资讯、投研报告、信息披露、产品路
                        演等服务，搭建投资者与投顾之间无缝对接的平台，
                        促进投资者交易技能提升、根据投资者的
                        需求精准对接匹配投顾。
                    </p>
                </li>
                <li class="layui-col-md4">

                    <div class="layui-card-header">
                        数据整合
                    </div>
                    <p class="layui-card-body">
                        大数据筛选统计多方数据，综合汇
                        总投顾的需求、资金方的要求，通
                        过意向筛选，达成初步意向；视具
                        体情况，双方交换信息进行深入研
                        究，达成最终合作意向。
                        通过成熟完善的风险评估体系，通
                        过大数据分析和深度调研等多方面
                        举措，盘中随时监控账户风险，通
                    </p>
                </li>
                <li class="layui-col-md4">
                    <div class="layui-card-header">
                        软件科研
                    </div>
                    <p class="layui-card-body">
                        正金汇硬件与软件的创新，深入金融服务的各个渠道，试
                        图重塑国内金融应用软件产业链。通过搜集不同维度的高
                        科技数据，为新兴的金融行业提供更先进更全面的服务。
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <button class="layui-btn layui-btn-sm" id="today"></button>
</div>

{include file="footer/index"}
</body>
</html>
<script>
    function time() {
        var today=document.getElementById('today');
        var oDate=new Date();
        var oF=oDate.getFullYear();
        var oH=oDate.getHours();
        var oT=oDate.getMinutes();
        var oS=oDate.getSeconds();
        if (oS<10){
            today.innerHTML="北京时间："+oF+"年"+oH+"点"+oT+'分'+'0'+oS+"秒";
        }else {
            today.innerHTML="北京时间："+oF+"年"+oH+"点"+oT+'分'+oS+"秒";
        }
    }
    time();
    setInterval(function () {
        time();
    },800);
    console.log('%c 你不小心按了一下F12，再按一下消失！另则是故意在偷看代码！','color:#f00;')
</script>