<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__CSS__/present.css">
</head>
<body>
{include file="header/index"}
<!--主体部分-->
<div class="pre">
    <div class=" backdrop_pd">
   <div class="layui-container">
       <div class="layui-row present" >
           <h2>公司介绍</h2>
           <div class="layui-col-md3">
               <img src="__IMG__/ambient.jpg" alt="">
           </div>
           <div class="layui-col-md9">
               <p>北京正金汇数据科技有限公司（正金汇），注册成立于2017年，以“正金汇聚，天下英豪”为宗旨，“汇人、汇智”为理念，以数据展示、数据分析、数据对接为核心，致力于打造行业覆盖最广、服务最专业、数据最全面的科技生态系统。</p>
               <p>正金汇同国内数百家银行、券商、私募机构进行深层次合作，拥有大量的资源、资金、投顾数据，通过线上APP和线下实体分公司的数据匹配系统，实现资源、资金、数据、投顾的无缝对接。利用成熟的投研体系及风险评估体系，对交易员交易行为进行全方面解析，建立个人专属数据分析系统，为投顾发展提供详细的数据支持和交易辅助。通过大数据整合，筛选出优秀投顾组成讲师队伍，通过线上路演及线下培训，为市场参与者提供最专业的培训服务。结合大数据的优势，实现人才对接。</p>
               <p>数据是工业文明向信息文明演变的动力之源。正金汇携手各界合作伙伴，构建协同开放、共享繁荣的大数据生态，使数据价值充分释放，成为全球大数据新大陆开拓中的“中国力量”！</p>

           </div>
       </div>
   </div>
 </div>
    <div class="backdrop">
        <div class="layui-container cover">
            <h2>业务覆盖</h2>
            <div class="layui-row">
                <div class="layui-col-md7">
                    <h4>线下推广</h4>
                    <p>全国多地设立分公司、整合实体门店，与全国数家银行、保险、证券和期货公司达成战略合作。与全国多个国、民营企业及产业链达成战略合作，定期汇聚全国各地英豪开展大型会议，致力于打造行业覆盖最广、服务最专业、数据最全面的金融生态系统。</p>
                 <div class="layui-row pd">
                     <div class="layui-col-md1">
                         <img src="__IMG__/cover_1.png" alt="">
                        </div>
                      <div class="layui-col-md5 small_tt">
                          <p>分公司、实体门店</p>
                      </div>
                     <div class="layui-col-md1">
                         <img src="__IMG__/cover_2.png" alt="">
                     </div>
                     <div class="layui-col-md5 small_tt">
                         <p>银行、保险、证券、期货</p>
                     </div>
                     <div class="layui-col-md1">
                         <img src="__IMG__/cover_3.png" alt="">
                     </div>
                     <div class="layui-col-md5 small_tt">
                         <p>国、民营实体企业</p>
                     </div>
                     <div class="layui-col-md1">
                         <img src="__IMG__/cover_4.png" alt="">
                     </div>
                     <div class="layui-col-md5 small_tt">
                         <p>会议营销、大型展会</p>
                     </div>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <img src="__IMG__/map.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--教学环境-->
    <div class="backdrop_pd  ambient">
        <h2>教学环境</h2>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <img src="__IMG__/environment-1.jpg" class="img-responsive trans_max" alt="">
                    <br>
                    <img src="__IMG__/environment-7.jpg" class="img-responsive trans_max" alt="">
                </div>
                <div class="layui-col-md3">
                    <img src="__IMG__/environment-3.jpg" class="img-responsive trans_max" alt="">
                    <br>
                    <img src="__IMG__/environment-6.png" class="img-responsive trans_max" alt="">
                </div>
                <div class="layui-col-md3">
                    <img src="__IMG__/environment-4.jpg" class="img-responsive trans_max" alt="">
                    <br>
                    <img src="__IMG__/environment-2.jpg" class="img-responsive trans_max" alt="">
                </div>
                <div class="layui-col-md3">
                    <img src="__IMG__/environment-5.jpg" class="img-responsive trans_max" alt="">
                    <br>
                    <img src="__IMG__/environment-8.JPG" class="img-responsive trans_max" alt="">
                </div>
                <div class="col-md-3 environment-float">

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
</div>
    <!--合作伙伴-->
    <div class="backdrop partner">
        <div class="layui-container ">
        <h2>合作伙伴</h2>
        <div>
            <img src="__IMG__/partner.png" alt="">
        </div>
        </div>
    </div>

<!--主体结束-->
{include file="footer/index"}
</body>
</html>