<!--尾部-->
<link rel="stylesheet" href="__CSS__/footer.css">
<div class="footer">
    <div class="warp clearFix">
        <div class="layui-col-md9">
            <h3>
                汇正商学院全国联系方式:
            </h3>
            <div class="layui-col-md6">
                全国咨询电话：400-969-3996 <br>
                地址：北京市朝阳区日坛国际贸易中心B座1A01 <br>
            </div>

            <div class="layui-col-md6">
                地区电话：18730179613 <br>
                地址：石家庄市桥西区中山西路与师范街海通证券二楼 <br>
            </div>
            <div class="layui-col-md6">
                地区电话：15039060850 <br>
                地址：河南省郑州市郑东新区郑州东站升龙广场1号楼B座11层 <br>
            </div>
        </div>
        <div class="layui-col-md3 footer_code">
            <img class="layui-col-md5 footer_code" src="__ICON__/two_code.jpg" alt="">
        </div>
    </div>
    <div class="icp">
        ©2018 正金汇 版权所有 <a target="_blank" href="http://www.beian.gov.cn">备案：冀ICP备18000985号-1</a>
    </div>
</div>

<!--尾部-->