html,body{
    padding:0;margin:0;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #cf101c;
}
ul{
    list-style: none;
}
.synopsis{
    padding: 50px 0;
}
.synopsis-bg{
    padding: 50px 0;
    background: #f7f7f7;
}
.tt-padding{
    padding-bottom: 20px;
}
/*面包屑*/
.crumbs{
    height: 50px;
    border-bottom: solid 1px #cccccc;
    line-height: 50px;
}
/*地址*/
#abc{
    width:100%;
    height: 250px;
    background: #cccccc;
}
.addr .bg{
    /*background: #f7f7f7;*/
}
.addr .bg .row{
    padding:30px 0px;
}
.addr p{
    font-size: 12px;
    line-height: 20px;
}
.addr p span{
    letter-spacing: 9px;
}
/*留言*/
.message-width{
    padding-bottom: 10px;
}
.message-width input{
    width: 100%;
    height: 40px;
    border: solid 1px #cccccc;
    padding-left: 10px;
    border-radius: 4px;
}
.message-text textarea{
    width: 100%;
    height: 250px;
    padding-left: 10px;
    padding-top: 8px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    margin-bottom:10px;
}
.message-but button{
    height: 40px;
    font-size: 18px;
    letter-spacing: 5px;
}
/*资金统计图*/
.money{
    width: 100%;height: 400px;margin: auto;background-color: #faf5d1;
}
.pdd{
    clear: both;
}
.pdd h2{
    padding:0 0 20px 0;

}












